<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>EchoServlet</servlet-name>
    <servlet-class>servlets.EchoServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>EchoServlet</servlet-name>
    <url-pattern>echo/post</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>EchoServlet</servlet-name>
    <url-pattern>echo/get</url-pattern>
  </servlet-mapping>

</web-app>
